.Gallery section {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
  margin: 20px 0;
}
.Gallery h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.Gallery input {
  width: 85%;
  padding: 7px 10px;
  border: 1px solid #ddd;
  color: rgb(21, 21, 21);
  border-radius: 6px;
}

.Gallery .Hint {
  color: rgb(167, 166, 166);
  font-size: 12px;
  line-height: 1.5;
  margin-top: 2px;
}
.Gallery .btn {
  color: #f7f7f7;
  background: #79a8a9;
  margin-left: 15px;
}
.Gallery .btn:hover {
  color: #f7f7f7;
  background: #79a8a9;
  transition: transform 0.3ms all;
  transform: scale(1.05);
}
@media (max-width: 960px) {
  .Gallery h1 {
    font-size: 10px;
    margin-bottom: 5px;
  }
  .Gallery .Hint {
    font-size: 8px;
  }
  .Gallery input {
    width: 75%;
    font-size: 10px;
  }
  .Gallery .btn {
    padding: 6px 7px;
    font-size: 10px;
  }
}
